<h1>JWT Spring Security</h1>

<mat-card>
  <mat-card-title>
    Not logged in
  </mat-card-title>
</mat-card>

<hr class="my-divider">

<div fxLayout="row" fxLayoutAlign="space-around start">
  <mat-card fxFlex="45">
    <mat-card-title>Authenticated User</mat-card-title>
    <mat-card-content>
      <span>Username: admin</span><br>
      <span>Email: undefined</span><br>
      <span>Authorities: </span><br>
      <ul>
        <li>ROLE_USER</li>
        <li>ROLE_ADMIN</li>
      </ul>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button>Logout</button>
    </mat-card-actions>
  </mat-card>

  <div fxLayout="column" fxLayoutAlign="start" fxFlex="45" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutGap="10px">
      <button mat-raised-button color="primary">Call Example Service</button>
      <button mat-raised-button color="primary">Call Admin Example Service</button>
    </div>

    <mat-card>
      <mat-card-content>
        <pre>
          status code: 200
          ------------------------
          ["somethings"]
        </pre>
      </mat-card-content>
    </mat-card>
  </div>
</div>

